.main {
    font-family: var(--font-orbitron), Helvetica, Arial, sans-serif;
    max-width: 1001px;
    counter-reset: projects;
}

.page {
    display: flex;
    justify-content: center;
    padding: 5% 10%;
}

.projectItem {
    display: grid;
    grid-template-columns: 3em 1fr;
    margin-bottom: 1.5em;

    font-size: x-large;
    font-weight: 800;

    p {
        font-size: initial;
        font-weight: initial;
        font-family: var(--font-dm-sans);
    }
}

.projectItem::before {
    content: counter(projects, decimal-leading-zero);
    counter-increment: projects;
}

.projectInfo {
    display: flex;
    flex-direction: column;
    gap: 0.3em;

    >a:hover {
        color: var(--amp-yellow);
    }
}

.projectInfo::after {
    display: block;
    content: '';

    height: 9px;
    width: 100%;
    margin: 0.5em 0;

    --dot-space-between: 3px;
    --dot-size: 1px;
    --dot-color: var(--background-gray);
    background-image: radial-gradient(circle at var(--dot-size) var(--dot-size), var(--dot-color) var(--dot-size), transparent 0);
    background-size: var(--dot-space-between) var(--dot-space-between);
}
