
.main {
    --grid-spacing: 1.5em;
    display: flex;
    flex-direction: row-reverse;
    gap: var(--grid-spacing);
    margin: var(--grid-spacing) auto;
    max-width: 720px;
}

.header {
    font-family: var(--font-orbitron), Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-bottom: var(--grid-spacing);
}

#project:hover::before {
    content: '#';
}

.paginationContainer {
    display: flex;
    align-items: center;
    gap: 0.25em;

    width: fit-content;
    padding-bottom: 0.25em;
    border-bottom: 3px solid var(--ohm-violet);
}

.projectNavBtn {
    cursor: pointer;
    font-size: 0;
    
    --button-size: 25px;
    width: var(--button-size);
    height: var(--button-size);
    background-color: var(--amp-yellow);
    background-image: url('/svg/triangle.svg');
    background-repeat:no-repeat;
    background-position: center center;
    background-size: calc(var(--button-size) * 0.35);

    box-sizing: border-box;
    border: 2px solid var(--ohm-violet);
    border-radius: 50%;

    &.disabled {
        cursor: not-allowed;
        background-color: var(--background-gray);
    }
    &.left {
        transform: rotate(270deg);
    }
    &.right {
        transform: rotate(90deg);
    }
}

.projectNavPagination {
    font-weight: 800;
    font-size: x-large;
    color: var(--foreground);

    >.slash {
        color: var(--background-gray);
    }
}

.projectAside {
    padding: 3em;
    background: linear-gradient(50deg, #9786B8, var(--ohm-violet));
}